body {
  font-family: 'Major Mono Display', monospace;
  
}

h1 {
  width: 100%;
  font-weight: 300;
  text-align: right;
  font-size: 40px;
  color: black;
  background-color: #B4D7A2;
}

h4 {
  text-align: right;
  color: #B4D7A2;
  background-color: black;
  margin: 0px;
  padding: 3px 10px;
}

.header {
  min-width: 775px;
  display: flex;
  justify: flex-end;
  flex-wrap: wrap;
  
}
