body {
   background-image: url(http://www.perini.com.au/images/0/0/lifestyle-las-vegas-floors-3.jpg);
}

.container {
  font-family: 'Major Mono Display', monospace;
  border-style: solid;
  min-width: 775px;
  display: flex;
  flex: wrap;
  justify-content: space-between;
  position: sticky;
  top: 0; 
  }

h1 {
  text-align: right;
  font-size: 40px;
  color: black;
  background-color: #B4D7A2;
  margin: 0px;
  padding: 3px 10px;
}

h4 {
  text-align: center;
  color: #B4D7A2;
  background-color: black;
  margin: 0px;
  padding: 25px 10px;
}

.intro {
  display: flex;
  flex: wrap;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 10px 150px 20px 150px;
  padding: 5px;
  font-family: 'Roboto Mono', monospace;
  border-style: solid;
  box-shadow: 10px 10px;
  background-color: #ffdab9;
}

.signature {
  display: flex;
  flex: wrap;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: -25px;
}

.face {
  border-style: solid;
  border-width: thick;
  border-color: #367588;
  margin: 10px;
}

.experience {
  font-family: 'Roboto Mono', monospace;
  border-style: solid;
  box-shadow: 10px 10px;
  margin: 10px 400px 20px 10px ;
  padding: 10px;
  background-color: #aec6cf;
}

.title {
  border-bottom-style: solid;
}

.details {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  background-color: black;
}

.job-title {
  font-weight: bold;
}

.community-involvement {
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  border-style: solid;
  box-shadow: 10px 10px;
  margin: 10px 10px 20px 400px;
  padding: 10px;
  background-color: #FF6961;
}

.education {
  font-family: 'Roboto Mono', monospace;
  border-style: solid;
  box-shadow: 10px 10px;
  margin: 10px 150px;
  padding: 10px;
  background-color: #FFF0AE;
}

.references {
  display: inline-block;
  width: auto;
  font-family: 'Roboto Mono', monospace;
  border-style: solid;
  box-shadow: 10px 10px;
  margin: 10px 300px;
  padding: 10px;
  background-color: #D0C9EA;
}
